node_modules
.env
.env*
.serverless
.DS_Store
backup/
obj/
bin/

**/node_modules
**/.serverless
**/.idea

**/.aws-sam

# Allow
!cdk-lambda-deployment/bin

.terraform/
.terraform.lock.hcl
.terraform.tfplan
*.zip
*.lock
*.tfstate
*.tfstate.backup
*.tfstate.lock.*
**/bigerplan
.vscode
templates.sln
my.tfplan