{
    "version" : "2017-02-28",
    "operation" : "UpdateItem",
    "key" : {
        "PK": $util.dynamodb.toDynamoDBJson($ctx.args.input.PK),
        "SK": $util.dynamodb.toDynamoDBJson($ctx.args.input.SK)
    },
    "update" : {
        "expression" : "SET #status = :content",
        "expressionNames" : {
            "#status" : "status"
        },
        "expressionValues" : {
            ":content" : $util.dynamodb.toDynamoDBJson($ctx.args.input.status)
        }
    }
}